

NET "BCO_N" LOC = P135 | IOSTANDARD="LVDS_25";
NET "BCO_P" LOC = P134 | IOSTANDARD="LVDS_25";
NET "DRC_N" LOC = P132 | IOSTANDARD="LVDS_25";
NET "DRC_P" LOC = P130 | IOSTANDARD="LVDS_25";
NET "L0_CMD_N" LOC = P131 | IOSTANDARD="LVDS_25";
NET "L0_CMD_P" LOC = P129 | IOSTANDARD="LVDS_25";
NET "R3_N" LOC = P127 | IOSTANDARD="LVDS_25";
NET "R3_P" LOC = P125 | IOSTANDARD="LVDS_25";

NET "RSTB_O" LOC = P93;
NET "TERM_O" LOC = P99;
NET "SHUNT_CTL_O" LOC = P91;

NET "REG_EN_D_O" LOC = P98;
NET "REG_EN_A_O" LOC = P96;

NET "ADDR_O[0]" LOC = P101;
NET "ADDR_O[1]" LOC = P102;
NET "ADDR_O[2]" LOC = P103;
NET "ADDR_O[3]" LOC = P104;
NET "ADDR_O[4]" LOC = P105;


NET "XOFFF_L_N" LOC = P121 | IOSTANDARD="LVDS_25";
NET "XOFFF_L_P" LOC = P120 | IOSTANDARD="LVDS_25";
NET "XOFFF_R_N" LOC = P116 | IOSTANDARD="LVDS_25";
NET "XOFFF_R_P" LOC = P114 | IOSTANDARD="LVDS_25";


NET "DATA_L_N" LOC = P124 | IOSTANDARD="LVDS_25";
NET "DATA_L_P" LOC = P126 | IOSTANDARD="LVDS_25";
NET "DATA_R_N" LOC = P115 | IOSTANDARD="LVDS_25";
NET "DATA_R_P" LOC = P117 | IOSTANDARD="LVDS_25";



NET "Y_BCO_N" LOC = P55 | IOSTANDARD="LVDS_25";
NET "Y_BCO_P" LOC = P54 | IOSTANDARD="LVDS_25";
NET "Y_DRC_N" LOC = P38 | IOSTANDARD="LVDS_25";
NET "Y_DRC_P" LOC = P37 | IOSTANDARD="LVDS_25";
#NET "Y_DATA_L_N" LOC = P44  | IOSTANDARD="LVDS_25";
#NET "Y_DATA_L_P" LOC = P42 | IOSTANDARD="LVDS_25";
NET "Y_DATA_R_N" LOC = P48 | IOSTANDARD="LVDS_25";
NET "Y_DATA_R_P" LOC = P46 | IOSTANDARD="LVDS_25";
NET "Y_L0_CMD_N" LOC = P51 | IOSTANDARD="LVDS_25";
NET "Y_L0_CMD_P" LOC = P50 | IOSTANDARD="LVDS_25";
NET "Y_R3_N" LOC = P59 | IOSTANDARD="LVDS_25";
NET "Y_R3_P" LOC = P57 | IOSTANDARD="LVDS_25";

#
##NET "DRC_N" IOSTANDARD = LVCMOS18;
##NET "DRC_P" IOSTANDARD = LVCMOS18;
##NET "L0_CMD_N" IOSTANDARD = LVCMOS18;
##NET "L0_CMD_P" IOSTANDARD = LVCMOS18;
##NET "R3_N" IOSTANDARD = LVCMOS18;
##NET "R3_P" IOSTANDARD = LVCMOS18;
#NET "REG_EN_A_O" IOSTANDARD = LVCMOS18;
##NET "BCO_N" IOSTANDARD = LVCMOS18;
##NET "BCO_P" IOSTANDARD = LVCMOS18;
#NET "REG_EN_D_O" IOSTANDARD = LVCMOS18;
#NET "RSTB_O" IOSTANDARD = LVCMOS18;
#NET "SHUNT_CTL_O" IOSTANDARD = LVCMOS18;
#NET "TERM_O" IOSTANDARD = LVCMOS18;
##NET "XOFFF_L_P" IOSTANDARD = LVCMOS18;
##NET "XOFFF_L_N" IOSTANDARD = LVCMOS18;
#NET "XOFFF_R_N" IOSTANDARD = LVCMOS18;
#NET "XOFFF_R_P" IOSTANDARD = LVCMOS18;
##NET "Y_DATA_L_N" IOSTANDARD = LVCMOS12;
##NET "Y_DATA_L_P" IOSTANDARD = LVCMOS12;
##NET "Y_DATA_R_N" IOSTANDARD = LVCMOS12;
#
#
#NET "ADDR_O[4]" IOSTANDARD = LVCMOS18;
#NET "ADDR_O[3]" IOSTANDARD = LVCMOS18;
#NET "ADDR_O[2]" IOSTANDARD = LVCMOS18;
#NET "ADDR_O[1]" IOSTANDARD = LVCMOS18;
#NET "ADDR_O[0]" IOSTANDARD = LVCMOS18;
#NET "DATA_L_N" IOSTANDARD = LVCMOS18;
#NET "DATA_L_P" IOSTANDARD = LVCMOS18;
#NET "DATA_R_N" IOSTANDARD = LVCMOS18;
#NET "DATA_R_P" IOSTANDARD = LVCMOS18;
##NET "Y_BCO_N" IOSTANDARD = LVCMOS12;
##NET "Y_BCO_P" IOSTANDARD = LVCMOS12;
##NET "Y_DATA_R_P" IOSTANDARD = LVCMOS12;
##NET "Y_DRC_N" IOSTANDARD = LVCMOS12;
##NET "Y_DRC_P" IOSTANDARD = LVCMOS12;
##NET "Y_L0_CMD_N" IOSTANDARD = LVCMOS12;
##NET "Y_L0_CMD_P" IOSTANDARD = LVCMOS12;
##NET "Y_R3_N" IOSTANDARD = LVCMOS12;
##NET "Y_R3_P" IOSTANDARD = LVCMOS12;
