

NET "BCO_N" LOC = P135;
NET "BCO_P" LOC = P134;
NET "DRC_N" LOC = P132;
NET "DRC_P" LOC = P130;
NET "L0_CMD_N" LOC = P131;
NET "L0_CMD_P" LOC = P129;
NET "R3_N" LOC = P127;
NET "R3_P" LOC = P125;

NET "RSTB_O" LOC = P93;
NET "TERM_O" LOC = P99;
NET "SHUNT_CTL_O" LOC = P91;

NET "REG_EN_D_O" LOC = P98;
NET "REG_EN_A_O" LOC = P96;

NET "ADDR_O[0]" LOC = P101;
NET "ADDR_O[1]" LOC = P102;
NET "ADDR_O[2]" LOC = P103;
NET "ADDR_O[3]" LOC = P104;
NET "ADDR_O[4]" LOC = P105;


NET "XOFFF_L_N" LOC = P121;
NET "XOFFF_L_P" LOC = P120;
NET "XOFFF_R_N" LOC = P116;
NET "XOFFF_R_P" LOC = P114;


NET "DATA_L_N" LOC = P124;
NET "DATA_L_P" LOC = P126;
NET "DATA_R_N" LOC = P115;
NET "DATA_R_P" LOC = P117;

# PlanAhead Generated IO constraints 

# PlanAhead Generated physical constraints 

NET "Y_BCO_N" LOC = P55;
NET "Y_BCO_P" LOC = P54;
NET "Y_DATA_L_N" LOC = P44;
NET "Y_DATA_L_P" LOC = P42;
NET "Y_DATA_R_N" LOC = P48;
NET "Y_DATA_R_P" LOC = P46;
NET "Y_L0_CMD_N" LOC = P51;
NET "Y_L0_CMD_P" LOC = P50;
NET "Y_R3_N" LOC = P59;
NET "Y_R3_P" LOC = P57;
